<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.ExtentReportsManager"/>
    </listeners>
    <parameter name="os" value="Windows"/>
    <parameter name="browser" value="Chrome"/>
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="TestCases.HotelCostsTest"/>
            <class name="TestCases.CruiseDetailsTest"/>
        </classes>
    </test>

</suite>